<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Drivingpalace</title>
</head>
<body>
    <div id="navbar">
        <fejlec></fejlec>
    </div>

    <div id="main">
        <div id="menu" v-if="beosztas === 'admin'">
            <button v-on:click="oldalModeralas()">{{Szmoderalas}}</button>
        </div>

        <button v-if="moderalas" v-on:click="katHozzaadas()">{{katSzoveg}}</button>
        <input type="text" v-if="katAdd" v-model="ujKat">
        <!--Kategóriák-->
        <div v-for="(d, index) in kategoria">
            <div style="border: 2px solid; margin: 15px">
                <button v-on:click="katValasztas(index)">{{d.cim}} és {{d.id}}</button>
                <h4>Dátum: {{d.date}}</h4>
                <button v-if="moderalas">Kategória törlése</button>
            </div>
        </div>

        <!--Topikok-->
        <!--Azért raktam ezeket egy nagy div-be mert lusta voltam css-t csinálni és így van térköz és egy elválasztó is. Majd csak a v-if-re figyelj a többit törölheted ahogy szeretnéd-->
        <div v-if="Btopikok">
            <br>
            <hr>
            <div v-for="(t, index) in topikok">
                <button v-if="moderalas && Btopikok">Topik hozzáadása</button>
                <div style="border: 2px solid; margin: 15px">
                    <button v-on:click="komValasztas(index)">{{t.cim}}</button>
                    <h4>Dátum: {{t.date}}</h4>
                </div>
            </div>
        </div>

        <!--Kommentek-->
        <!--Azért raktam ezeket egy nagy div-be mert lusta voltam css-t csinálni és így van térköz és egy elválasztó is. Majd csak a v-if-re figyelj a többit törölheted ahogy szeretnéd-->
        <div v-if="Bkommentek">
            <br>
            <hr>
            <div v-for="(k,index) in kommentek">
                <div style="border: 2px solid; margin: 15px">
                    <img style="width: 100px; border-radius: 50px;" v-bind:src="'kepek/f' + k.uId + '.jpg'" alt="profilkép">
                    <p>komment: {{k.cim}}</p><h4>Dátum: {{k.date}}</h4>
                    <button v-if="moderalas">Komment törlése</button>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <lablec></lablec>
    </div>

    <script src="components/components.js"></script>
    <script src="js/forum.js"></script>
</body>
</html>