<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Drivingpalace</title>
</head>
<body class="w-100">
    <div id="navbar">
        <fejlec></fejlec>
    </div>

    <div id="main" class="row min-vh-100 w-100 m-0 break-word">
        <div id="forum-menu" class="col-xl-2 mx-auto border-right border-dark">
            <div class="mb-3 m-0 p-1 text-center">
                <h5>Legtöbbet hozzászólt</h5>
                <hr>
                <a v-for="(topik, index) in Ltopik" class="d-block forum-menu-top nav-link" href="#">{{topik.cim}} - <span><kbd class="p-1">{{topik.kSzam}}</kbd></span></a>
                <!--
                <a class="d-block forum-menu-top nav-link" href="#">Autok - <span><kbd class="p-1">129</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">BMW - <span><kbd class="p-1">65</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Opel - <span><kbd class="p-1">234</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Suzuki - <span><kbd class="p-1">10</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Mercedes - <span><kbd class="p-1">78</kbd></span></a>
                -->
            </div>
            <div class="mb-3 m-0 p-1 text-center">
                <h5>Mostani top témák</h5>
                <hr>
                <a v-for="(top, index) in Tkategoria" class="d-block forum-menu-top nav-link" href="#">{{top.cim}} - <span><kbd class="p-1">{{top.tSzam}}</kbd></span></a>

                <!--
                <a class="d-block forum-menu-top nav-link" href="#">Autok - <span><kbd class="p-1">129</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">BMW - <span><kbd class="p-1">65</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Opel - <span><kbd class="p-1">234</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Suzuki - <span><kbd class="p-1">10</kbd></span></a>
                <a class="d-block forum-menu-top nav-link" href="#">Mercedes - <span><kbd class="p-1">78</kbd></span></a>
                -->
            </div>
        </div>
        <div class="col-xl p-0 ml-2">
            <button v-on:click="vissza">Visszanyil</button>
        <div class="col-xl mx-auto">
            <div class="p-3 m-0  border-top border-bottom border-dark">
                <select class="d-inline form-control w-50">
                    <option selected="">Latest</option>
                    <option value="1">Popular</option>
                    <option value="2">Solved</option>
                    <option value="3">Unsolved</option>
                    <option value="4">No Replies Yet</option>
                </select>
                <div id="menu" class="d-inline" v-if="beosztas === 'admin'">
                    <button class="btn btn-dark mb-2 pull-right" v-on:click="oldalModeralas()">{{Szmoderalas}}</button>
                </div>
                <div class="d-block">
                    <button class="d-inline my-2 btn btn-dark" v-if="moderalas" v-on:click="katHozzaadas()">{{katSzoveg}}</button>
                    <input class="d-inline form-control w-50" v-if="moderalas" placeholder="Új kategória neve" type="text" v-if="katAdd" v-model="ujKat">
                </div>
            </div>

            <!--FA-->
            <div class="ml-3 mt-3">
                <span v-for="(fa,index) in fak">{{fa}} > </span>
            </div>
    
            <!--Kategóriák-->
            <div class="mt-2 row" v-for="(d, index) in kategoria" v-if="Bkategoria">
                <div class="col-xl d-inline">
                    <!--Kategóriák - Cím-->
                    <div class="card-deck">
                            <div class="card">
                                <button class="btn btn-dark" v-on:click="katValasztas(index)">
                                    <div class="card-body">
                                        <p class="card-title">{{d.cim}}</p>
                                        <p class="card-subtitle">Dátum: {{d.date}}</p>
                                    </div>
                                </button>
                            </div>
                        <!--Kategória törlése gomb-->
                        <button v-if="moderalas" v-on:click="katTorles(index)">Kategória törlése</button>
                    </div>
                </div>
            </div>
    
            <!--Topikok-->
            <!--Azért raktam ezeket egy nagy div-be mert lusta voltam css-t csinálni és így van térköz és egy elválasztó is. Majd csak a v-if-re figyelj a többit törölheted ahogy szeretnéd-->
            <div v-if="Btopikok">
                <!--Topik hozzáadása-->
                <button v-if="moderalas && Btopikok" v-on:click="topikHozzaadasa">Topik hozzáadása</button>
                <input v-if="moderalas" placeholder="Új topik neve" type="text" v-model="ujTop">
                <div v-for="(t, index) in topikok">
                    <div style="border: 2px solid; margin: 15px">
                        <!--Topik cím-->
                        <button v-on:click="komValasztas(index)">{{t.cim}}</button>
                        <!--Topik dátum-->
                        <h4>Dátum: {{t.date}}</h4>
                    </div>
                </div>
            </div>
    
            <!--Kommentek-->
            <!--Azért raktam ezeket egy nagy div-be mert lusta voltam css-t csinálni és így van térköz és egy elválasztó is. Majd csak a v-if-re figyelj a többit törölheted ahogy szeretnéd-->
            <div v-if="Bkommentek">
                <div v-for="(k,index) in kommentek">
                    <div v-bind:style="k.sztájl">
                    <!--<div v-if="k.valaszId != -1" style="display: inline-block; height: 250px; width: 75px;">Hali</div>-->
                        <div style="border: 2px solid; margin: 15px" >
                            <p>{{k.valaszId}} (melyikre valaszol) --- {{k.id}} (sajat id-ja)</p>
                            <!--Komment picture-->
                            <img style="width: 100px; border-radius: 50px;" v-bind:src="'kepek/f' + k.uId + '.jpg'" alt="profilkép">
                            <!--maga a komment-->
                            <p>komment: {{k.cim}}</p><h4>Dátum: {{k.date}}</h4>
                            <!--Komment válasz-->
                            <button v-on:click="kommentValasz(index)">{{k.valaszSz}}</button>
                            <textarea v-show="k.valasz" name="" id="" cols="30" rows="10" v-model="komment"></textarea>
                            <button v-show="k.valasz" v-on:click="kommentkuldes(index)">Küldés</button>

                            <!--Komment törlése-->
                            <button v-if="moderalas" v-on:click="komTorles(index)">Komment törlése</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <lablec></lablec>
    </div>

    <script type="application/javascript" src="components/components.js"></script>
    <script type="application/javascript" src="js/forum.js"></script>
</body>
</html>