<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <title>Driving Palace</title>
    </head>
<body>
    <div id="navbar">
        <fejlec></fejlec>
    </div>

    <div id="main">
        <form class="col-xl-2">
            <h2>Helyszínek feltöltése</h2>
            <input name="cim" type="text" placeholder="Ide írja a helyszín rövid címét" v-model="title">
            <br>

            <textarea name="content" id="" cols="30" rows="10" v-model="content" placeholder="Kérem ide írja a leírását a helyszínnek."></textarea>
            <br>

            <label for="megye">Megye</label>
            <select name="megyek" class="form-group d-block w-100 form-control" id="megye" v-model="megye">
                <option value="" disabled selected hidden>Kérem Válasszon</option>
                <option value="Bács-Kiskun">Bács-Kiskun</option>
                <option value="Baranya">Baranya</option>
                <option value="Békés">Békés</option>
                <option value="Borsod-Abaúj-Zemplén">Borsod-Abaúj-Zemplén</option>
                <option value="Csongrád-Csanád">Csongrád-Csanád</option>
                <option value="Fejér">Fejér</option>
                <option value="Győr-Moson-Sopron">Győr-Moson-Sopron</option>
                <option value="Hajdú-Buhar">Hajdú-Bihar</option>
                <option value="Heves">Heves</option>
                <option value="Jász-Nagykun-Szolnok">Jász-Nagykun-Szolnok</option>
                <option value="Komárom-Esztergom">Komárom-Esztergom</option>
                <option value="Nógrád">Nógrád</option>
                <option value="Pest">Pest</option>
                <option value="Somogy">Somogy</option>
                <option value="Szabolcs-Szatmár-Bereg">Szabolcs-Szatmár-Bereg</option>
                <option value="Tolna">Tolna</option>
                <option value="Vas">Vas</option>
                <option value="Veszprém">Veszprém</option>
                <option value="Zala">Zala</option>
            </select>

            <label for="tipus">Megközelíthetőség</label>
            <select name="tipus" class="form-group d-block w-100 form-control" id="tipus" v-model="tipus">
                <option value="" disabled selected hidden>Kérem Válasszon</option>
                <option value="Könnyű">Könnyen</option>
                <option value="Közepes">Nehézkes</option>
                <option value="Nehéz">Nehéz</option>
            </select>

            <label for="hossz">Férőhely</label>
            <input type="number" class="form-group d-block w-100 form-control" id="hossz" v-model="Fhely">

            <input type="file" @change="kepFeltolt">

            <button class="btn sotetarny text-white w-100 mb-5" v-on:click="feltoltes">Feltöltés</button>

            <h2 v-if="proba != null">Hali</h2>
    </div>

    <div id="footer">
        <lablec></lablec>
    </div>

    <script src="components/components.js"></script>
    <script src="js/helyfeltolt.js"></script>
</body>
</html>