<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Driving Palace</title>
</head>
<body>
    <div id="navbar">
        <fejlec></fejlec>
    </div>

    <div id="main">
        <h3>Kapcsolat</h3>
        <h5>Ügyfélszolgálat - <a href="mailto:info@drivingpalace.hu">info@drivingpalace.hu</a></h5>
        <h5>Rendszergazda - <a href="mailto:admin@drivingpalace.hu">admin@drivingpalace.hu</a></h5>
        
        <br>

        <h4>Írjon nekünk emailt!</h4>
        <input type="text" placeholder="Kérem adja meg a nevét!" v-model="nev">
        <input type="text" placeholder="Kérem adja meg az email címét" v-model="email">
        <textarea name="" id="" cols="30" rows="10" placeholder="Ide írhatja az üzenetet" v-model="szoveg"></textarea>
        <button v-on:click="kuldes">Küldés</button>
    </div>

    <div id="footer">
        <lablec></lablec>
    </div>

    <script type="application/javascript" src="components/components.js"></script>
    <script type="application/javascript" src="js/kapcsolat.js"></script>
</body>
</html>