<!DOCTYPE html>
<html lang="hu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
        <title>Drivingpalace</title>
    </head>
<body>
    <div id="navbar">
        <fejlec></fejlec>
    </div>

    <div id="main">
        <div id="search">
            <select name="megyek" id="megye" v-model="megye">
                <option value="valassz" selected>Kérem Válasszon</option>
                <option value="Veszprém">Veszprém</option>
                <option value="Bács-Kiskun">Bács-Kiskun</option>
                <option value="Baranya">Baranya</option>
                <option value="Békés">Békés</option>
                <option value="Borsod-Abaúj-Zemplén">Borsod-Abaúj-Zemplén</option>
                <option value="Csongrád-Csanád">Csongrád-Csanád</option>
                <option value="Fejér">Fejér</option>
                <option value="Győr-Moson-Sopron">Győr-Moson-Sopron</option>
                <option value="Hajdú-Buhar">Hajdú-Bihar</option>
                <option value="Heves">Heves</option>
                <option value="Jász-Nagykun-Szolnok">Jász-Nagykun-Szolnok</option>
                <option value="Komárom-Esztergom">Komárom-Esztergom</option>
                <option value="Nógrád">Nógrád</option>
                <option value="Somogy">Somogy</option>
                <option value="Szabolcs-Szatmár-Bereg">Szabolcs-Szatmár-Bereg</option>
                <option value="Tolna">Tolna</option>
                <option value="Vas">Vas</option>
                <option value="Zala">Zala</option>
                <option value="Pest">Pest</option>
            </select>
            <input type="text" placeholder="Megye">
            <input type="text" placeholder="Típus" v-model="tipus">
            <input type="text" placeholder="Minőség" v-model="minoseg">
            <input type="number" placeholder="Hossz" v-model="hossz">
            <button v-on:click="kereses()">Keresés</button>
        </div>
        <div id="front">
            <div v-for = "(ut,index) in utak" style="border: 2px solid;">
                <img style="width: 150px;" v-bind:src="'kepek/' + ut.picture + '.jpg'" alt="Nem muxik">
                <br>
                <span>cim: {{ut.title}}</span>
                <br>
                <span>content: {{ut.content}}</span>
                <br>
                <span>hossz: {{ut.length}}</span>
                <br>
                <span>megye: {{ut.megye}}</span>
                <br>
                <span>tipus: {{ut.type}}</span>
                <br>
                <span>minoseg: {{ut.quality}}</span>
                <br>
                <span>nezetseg: {{ut.nezetseg}}</span>
            </div>
            <button v-on:click="elore()">Előre</button>
            <p>{{page}}</p>
            <button v-on:click="vissza()">Vissza</button>
        </div>
    </div>

    <div id="footer">
        <lablec></lablec>
    </div>

    <script src="../components/components.js"></script>
    <script src="../js/utak.js"></script>
</body>
</html>