input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}



.sotetarny
{
    background-color: #333333 !important;
}
.piros
{
    color: #EF7215 !important;
    opacity: 0.8;
    
}

.nav-link:hover, .card-link:hover
{
    background-color: rgba(255,255,255,0.15);
    border-radius: 5px;
}

hr
{
    border-color: #EF7215 !important;
}

.fa
{
    display: inline-block !important;
}

.btn, .nav-link, .card-link
{
    transition: 0.3s ease-in-out;
}

#icon:hover, .btn:hover
{
    opacity: 0.8;
}

#navigation
{
    font-size: 1.5rem;
}

textarea
{
    resize: none;
}

img[alt="Profilkép"]
{
    border: 0.20rem solid white !important;
    margin: 0.20rem !important;
    outline-color: grey !important;
    outline-style: outset !important;
}

.break-word
{
    word-wrap: break-word;
}


@media screen and (max-width: 1200px)
{
    #left
    {
        width: 100% !important;
        text-align: center !important;
    }
    #menu-prof
    {
        display: inline-block !important;
    }
}

@media screen and (min-width: 1200px)
{
    .btn-group
    {
        display: inline !important;
    }
}